<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div th:if="${weatherLocationsDto != null}">
    <div th:if="${weatherLocationsDto.size() == 0}">
        <div>You have not added any location to track weather yet</div>
    </div>
    <ul th:if="${weatherLocationsDto.size() > 0}">
        <li
                th:each="weatherLocation : ${weatherLocationsDto}"
                th:with="location=${weatherLocation.getLocationInfo()},
                         weather=${weatherLocation.getWeatherInfoDto()}"
        >
            <div th:text="${location.getName()}"></div>
            <div th:text="${location.getCountry()}"></div>
            <div th:text="${location.getState()}"></div>
            <div th:text="${weather.getTemperature()}"></div>
            <div th:text="${weather.getTemperatureFeelsLike()}"></div>
            <div th:text="${weather.getDescription}"></div>
            <div th:text="${weather.getWindSpeed()}"></div>
            <div th:text="${weather.getDate()}"></div>
            <div th:text="${weather.getTime()}"></div>
            <form
                    th:action="@{/}"
                    method="post"
            >
                <input th:value="${location.getLat()}" name="lat" type="hidden"/>
                <input th:value="${location.getLon()}" name="lon" type="hidden"/>
                <button type="submit">remove</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>