<th:block th:replace="fragments/wrapper :: wrapper (title='Home', content=~{::main})">
    <main class="container mt-5">
        <div th:replace="fragments/search-form"></div>
        <div th:if="${weatherLocationsDto != null}">
            <div th:if="${weatherLocationsDto.size() == 0}" class="alert alert-info">
                You have not added any location to track weather yet.
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" th:if="${weatherLocationsDto.size() > 0}">
                <div class="col" th:each="weatherLocation : ${weatherLocationsDto}"
                     th:with="location=${weatherLocation.getLocationInfo()}, weather=${weatherLocation.getWeatherInfoDto()}">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${location.getName()}"></h5>
                            <p class="card-text" th:text="${location.getCountry()}"></p>
                            <p class="card-text" th:if="${location.getState() != ''}"
                               th:text="${location.getState()}"></p>
                            <p class="card-text">Temperature: <span th:text="${weather.getTemperature()}"></span></p>
                            <p class="card-text">Feels Like: <span
                                    th:text="${weather.getTemperatureFeelsLike()}"></span></p>
                            <p class="card-text">Description: <span th:text="${weather.getDescription}"></span></p>
                            <p class="card-text">Wind Speed: <span th:text="${weather.getWindSpeed()}"></span></p>
                        </div>
                        <div class="card-footer">
                            <form th:action="@{/}" method="post">
                                <input th:value="${location.getLat()}" name="lat" type="hidden"/>
                                <input th:value="${location.getLon()}" name="lon" type="hidden"/>
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>

