<th:block th:replace="fragments/wrapper :: wrapper (title='Sign up', content=~{::main})">
    <main class="flex-grow-1 d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card shadow-lg">
                        <div class="card-body px-5 pt-5 mb-4">
                            <h1 class="fs-4 card-title fw-bold mb-4 text-center">Sign up</h1>

                            <form th:action="@{/sign-up}" th:object="${signUpRequestDto}" method="post">
                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="login">Login:</label>
                                    <input type="text" id="login" th:field="*{login}" class="form-control" required
                                           autofocus>
                                    <div th:if="${#fields.hasErrors('login')}" class="text-danger small mt-1">
                                        <div th:errors="*{login}"></div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="password">Password:</label>
                                    <input id="password" th:field="*{password}" type="password" class="form-control"
                                           name="password" required>
                                    <div th:if="${#fields.hasErrors('password')}" class="text-danger small mt-1">
                                        <div th:errors="*{password}"></div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="mb-2" for="confirmPassword">Confirm Password:</label>
                                    <input th:field="*{confirmPassword}" id="confirmPassword" type="password"
                                           class="form-control"
                                           name="confirmPassword" required>
                                    <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger small mt-1">
                                        <div th:errors="*{confirmPassword}"></div>
                                    </div>
                                </div>

                                <div th:if="${error != null}" class="alert alert-danger">
                                    <p th:text="${error.message}"></p>
                                </div>

                                <div class="d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary ms-auto">
                                        Sign up
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer py-3 border-0">
                            <div class="text-center">
                                Have an account? <a th:href="@{/sign-in}" class="text-dark">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</th:block>