<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign up</title>
</head>
<body>
<form
        th:action="@{/sign-up}"
        th:object="${signUpRequestDto}"
        method="post">
    <ul>
        <li>
            <label for="login">Login:</label>
            <input
                    th:field="*{login}"
                    id="login"
                    type="text"
            />
            <div
                    th:if="${#fields.hasErrors('login')}"
                    th:errors="*{login}">

            </div>
        </li>
        <li>
            <label for="password">Password:</label>
            <input
                    th:field="*{password}"
                    id="password"
                    type="password"
            />
            <div
                    th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}">
            </div>

        </li>
        <li>
            <label for="confirmPassword">Confirm password:</label>
            <input
                    th:field="*{confirmPassword}"
                    id="confirmPassword"
                    type="password"
            />
            <div
                    th:if="${#fields.hasErrors('confirmPassword')}"
                    th:errors="*{confirmPassword}">
            </div>
            <div th:if="${error != null}">
                <p th:text="${error.message}"></p>
            </div>
        </li>
    </ul>
    <div>
        <button type="submit">Sign up</button>
    </div>
</form>
</body>
</html>